{% extends 'blog/base.html' %}

{% block content %}
    <h1>Создать новый пост</h1>

    <form action="{% url 'create-post' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="{{ form.title.id_for_label }}">Заголовок</label>
            {{ form.title }}
        </div>
        <div>
            <label for="{{ form.slug.id_for_label }}">URL (slug)</label>
            {{ form.slug }}
        </div>
        <div>
            <label for="{{ form.content.id_for_label }}">Контент</label>
            {{ form.content }}
        </div>
        <div>
            <label for="{{ form.is_public.id_for_label }}">Публичный</label>
            {{ form.is_public }}
        </div>
        <div>
            <label for="{{ form.is_visible_on_request.id_for_label }}">Скрытый по запросу</label>
            {{ form.is_visible_on_request }}
        </div>
        <div>
            <label for="{{ form.tags.id_for_label }}">Теги</label>
            {{ form.tags }}
        </div>

        <button type="submit">Создать пост</button>
    </form>

    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
{% endblock %}